*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(129, 15, 235);
    padding: 1.3rem 8%;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.logo{
    color: aliceblue;
    font-size: 2.4rem;
    text-decoration: none;
    font-weight: 700;
}

#check{
    display: none;
}

.header .icon{
    font-size: 2.8rem;
    color: white;
    position: absolute;
    top: 20px;
    right: 5%;
    cursor: pointer;
    display: none;
}
.navbar a{
    color: aliceblue;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
label .x-icon{
    font-size: 2.8rem;
    color: red;
    position: absolute;
    top: 20px;
    right: 5%;
    cursor: pointer;
    display: none;

}
.content{
    margin-top: 120px;
}

h1{
    color: yellow;
}
p{
    color: rgb(255, 251, 251);
    font-size: 1rem;
    line-height: 1.5;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.flex-item{
    width: 300px;
    border: 1px solid;
    margin: 10px;
}
img{
    width: 100%;
    height: 100%;
}

/* media  */

/* @media not|only mediatype and (media feature) and (media feature) {
    CSS-Code;
  } */

  @media (max-width:768px){
      .header .icon{
        display: flex;
      }
      .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: darkgoldenrod;
        display: none;
      }
      .navbar a{
        display: block;
        margin: 1.5rem 0px;
        font-size: 1.1rem;
        text-align: center;
      }
      #check:checked~.navbar{
        display: block;
      }
      #check:checked~label .icon{
        display: none;
      }
      label .x-icon{
        display: flex;
      }
  }

  @media (max-width:992px){

    header{
     padding: 1.3rem 2%;
    }
 }

  @media (max-width:768px){
    p{
        font-size: 2rem;
        line-height: 1.5; 
    }
    /* .flex-container{
        display: flex;
        flex-wrap: wrap;
  } */  
}