*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
body{
    background: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}
p{
    padding: 20px;
    font-size: 1.4rem;
    line-height: 1.2;
    color: rgb(35, 21, 114);
}


.image{
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 100px;
}
.one{
    width:600px;
    border: 1px solid;
    margin: 10px;
}
img{
    width: 100%;
    height: 100%;
}
/*break points
   small display-480px
   medium "-768px
   large "-992px
   extra large "-1280px */

@media (max-width:768px){
       p{
           font-size: 2rem;
           line-height: 1.5;
       }
      .image{
           flex-wrap: wrap;
       }
    
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(69, 190, 130);
    padding: 1.3rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.contents{
    margin-top: 100px;
}
.logo{
    text-decoration: none;
    color: rgb(0, 26, 255);
    font-size: 50px;
    font-weight: bolder;
}
.icons{
    font-size: 2.8rem;
    color: orangered;
    position: absolute;
    right: 5%;
    top: 24px;
    cursor: pointer;
    display: none;
}
.navbar a{
    font-size: 1.15rem;
    color: orangered;
    text-decoration: none;
    font-weight: bold;
    margin-left: 2.5rem;
    display: block;
    font-size: 1.rem 0;
    text-align: center;
    margin: 1.5 rem 0px;
}
@media(max-width:992px){
    .header{
        padding: 1.3rem 5%;
    }
}
.header.icons{
    display: flex;
    display: none;
}
.navbar{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: aqua;


}
check:checked~.navbar{
    display: :block;
}
#check{
    display: none;
}
@med