*{
    margin: 0;
}
#container{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    align-items: center;
    
    
}
.mh{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 50px;
    color: orangered;

}
.sh{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 50px;
}
.lines{
    text-decoration: none;
    font-size: 20px;
    color:black ;
    display: inline;
    margin-left: 300px;
    position: absolute;
    
    
    
}
#li{
    display: inline;
    margin: 100px 10px;
    text-align: center;
    margin-right: 100px;
    
    
}
.fashion{
    width: 100%;
    height: 600px;
    background-image:url(./image/images\ \(1\).jpg);
    background-size: 100%;
    padding: 10px;
    
    
    
}
ul{
    display: inline;
    position: relative;

}
.cool{
    margin-top: 200px;
    margin-left: 50px;
    font-size: 80px;
    color: antiquewhite;
    font-weight: bold;
}
.para{
    margin-left: 50px;
    color: antiquewhite;
    font-size: 20px;
    text-align: justify;
}
.but{
    margin-left: 50px;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.start{
    width: 100%;
    height: 600px;
    position: relative;
    
}
.right{
    float:right;
    margin-top: 20px;
    margin-left: 200px;
    width: 30%;
}
.sec{
    text-align: center;
    margin-top: 50px;


}
.thi{
    float: right;
    margin-top: 20px;
    margin-right: 420px;
}
.twop{
    margin-top: 10px;
    float: right;
    margin-right: 30px;
    font-size: 20px;
}
.anger{
    float: right;
    margin-top: 50px;
    margin-right: 540px;

}
.imagetwo{
    text-align: center;
    width: 30%;

}
#imaget{
    width: 650px;
    height: 350px;
    margin-left: 650px;
    margin-top: 40px;

}
.left{
    width: 33%;
    height: 100px;
    margin: 0;
    
}
#left{
    margin-left: 200px;
    
    
}